<%= form_for @paciente, :html => { :class => "form-horizontal paciente" } do |f| %>

    <% if @paciente.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @paciente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
    <%= error_span(@paciente[:nombre]) %>
  </div>
  <div class="control-group">
    <%= f.label :correo_electronico, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :correo_electronico, :class => 'form-control' %>
    </div>
    <%= error_span(@paciente[:correo_electronico]) %>
  </div>
  <div class="control-group">
    <%= f.label :edad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :edad, :class => 'form-control' %>
    </div>
    <%= error_span(@paciente[:edad]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            pacientes_path, :class => 'btn btn-default' %>

<% end %>
